{% extends "layout.html" %}
{% block body %}
        <!-- Page Header-->
        <header class="masthead" style="background-image: url('{{ url_for('static',filename='img/home-bg.jpg') }}')">
            <div class="container position-relative px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <div class="site-heading">
                            <h1>Admin Dashboard</h1>
                            <span class="subheading">Welcome</span>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- Main Content-->
        <div class="container px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-md-10 col-lg-8 col-xl-7">

                  <h2>Upload New Posts</h2>
                  <a href="/postupload/0"> <button class="btn btn-primary">new post</button></a>
                  <a href="/logout"> <button class="btn btn-primary">logout</button></a>
                  <a href="/dashboard"> <button class="btn btn-primary">Dashboard</button></a>


                  <hr>
                  <form name="sentMessage" id="contactForm" action="/edit/{{post.sno}}"  method="post" data-sb-form-api-token="API_TOKEN">
                    <div class="form-floating">
                        <input class="form-control" id="title" name="title" type="text" placeholder="Enter your Title..." data-sb-validations="required" value="{{post.title}}" />
                        <label for="name">Title</label>
                        <div class="invalid-feedback" data-sb-feedback="title:required">A title is required.</div>
                    </div>
                    <div class="form-floating">
                        <input class="form-control" id="tline" name="tline" type="text" placeholder="Enter your tagline..." data-sb-validations="required"  value="{{post.tagline}}"/>
                        <label for="tagline">Tag line</label>
                        <div class="invalid-feedback" data-sb-feedback="tline:required">An tagline is required.</div>
                        <!-- <div class="invalid-feedback" data-sb-feedback="email:email">Email is not valid.</div> -->
                    </div>
                    <div class="form-floating">
                        <input class="form-control" id="slug" name="slug" type="text" placeholder="Enter your slug..." data-sb-validations="required" value="{{post.slug}}"/>
                        <label for="phone">Slug</label>
                        <div class="invalid-feedback" data-sb-feedback="slug:required">A Slug is required.</div>
                    </div>
                    <div class="form-floating">
                        <textarea class="form-control" id="content" name="content" placeholder="Enter your content here..." style="height: 12rem" data-sb-validations="required">{{post.content}}</textarea>
                        <label for="message">Content</label>
                        <div class="invalid-feedback" data-sb-feedback="content:required">A message is required.</div>
                    </div>
                    <div class="form-floating">
                        <input class="form-control" id="img_file" name="img_file" type="text" placeholder="Enter your Image File..." value="{{post.img_file}}" />
                        <label for="phone">Image File</label>
                        <div class="invalid-feedback" data-sb-feedback="slug:required">A Slug is required.</div>
                    </div>
                    <br />



                   














                    <!-- Submit success message-->
                    <!---->
                    <!-- This is what your users will see when the form-->
                    <!-- has successfully submitted-->
                    <div class="d-none" id="submitSuccessMessage">
                        <div class="text-center mb-3">
                            <div class="fw-bolder">Form submission successful!</div>
                            To activate this form, sign up at
                            <br />
                            <a href="https://startbootstrap.com/solution/contact-forms">https://startbootstrap.com/solution/contact-forms</a>
                        </div>
                    </div>
                    <!-- Submit error message-->
                    <!---->
                    <!-- This is what your users will see when there is-->
                    <!-- an error submitting the form-->
                    <div class="d-none" id="submitErrorMessage"><div class="text-center text-danger mb-3">Error sending message!</div></div>
                    <!-- Submit Button-->
                    <button class="btn btn-primary text-uppercase enabled" id="submitButton" type="submit">Submit</button>
                </form>
                    <!-- Post preview-->
               

                    

                    <!-- Post preview-->
                    
                    <!-- Divider-->
                    <!-- <hr class="my-4" /> -->
                    <!-- Pager-->
                    
                </div>
            </div>
        </div>
{% endblock %}
